header h1
{
  background-color:blue;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header h3 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.authlinks{
float:right;
}



h2
{
text-align: center;
color:red;

}

body
{
background-color:Aquamarine;
background-image: url("image1.jpg");
background-repeat:no-repeat;
background-size: 100%;
}


.Navbar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: orange;
}


.block
{
color:red;

